/* Estilo general para el contenedor */
.multiplicacion-disco-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 5px;
background-color: E0E0E0;
background-size: 300% 300%;

  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  animation: backgroundShift 8s ease-in-out infinite;
  

}



/* Animación de pulsación para los elementos */
.multiplicacion-disco-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  animation: itemPulse 5ms ;
}

@keyframes itemPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* Estilo para las etiquetas */
.multiplicacion-disco-label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

/* Estilos para los select */
.multiplicacion-disco-select {
  text-align: center;
  font-size: 1.3rem;
  padding: 1px 5px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.multiplicacion-disco-select:hover {
  background-color: rgba(255, 255, 255, 1);
}

.multiplicacion-disco-select:focus {
  outline: none;
  border-color: #ff4081;
}

/* Estilos para el botón */
.multiplicacion-disco-button {
  width: 150px;
  margin-top: 10px;
  padding: 20 0px;
  background: linear-gradient(45deg, #f8a264, #e8b777);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  animation: buttonGlow 3s ease-in-out infinite;
}

@keyframes buttonGlow {
  0% {
    box-shadow: 0 0 10px #ff4081, 0 0 20px #f50057;
  }
  50% {
    box-shadow: 0 0 20px #ffeb3b, 0 0 30px #ff4081;
  }
  100% {
    box-shadow: 0 0 10px #ff4081, 0 0 20px #f50057;
  }
}

.multiplicacion-disco-button:hover {
  transform: scale(1.2);

}

.multiplicacion-disco-button:active {
  transform: scale(0.95);
  background: #dec2ce;
}

/* Estilos para el resultado */
.multiplicacion-disco-result {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffeb3b;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  animation: resultGlow 2.5s ease-in-out infinite alternate;
}

@keyframes resultGlow {
  0% {
    text-shadow: 0 0 10px #ffeb3b, 0 0 20px #120c0e;
  }
  100% {
    text-shadow: 0 0 20px #ff4081, 0 0 30px #ffeb3b;
  }
}
